<div data-options="dxView : { name: 'playlists', title: 'Playlist Selection' } ">

    <div data-bind="dxCommand: { action: function(){ window[myAppNamespace].closeApp(); }, id: 'close', location: 'settings', title: 'Close', icon: 'close', visible: window[myAppNamespace].baseVars.closeVisible } "></div>

    <div class="playlists-view" data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div data-bind="dxList: { dataSource: listGroups, grouped: true, itemClickAction: showList }">
            <div class="limit-width" data-options="dxTemplate: { name: 'group' }">
                <span class="group-title"><span data-bind="text: key"></span> Playlists</span>
            </div>
            <div class="list-title limit-width" data-options="dxTemplate: { name: 'item' }">
                <span class="title-span"><i class="fwicon-music"></i> <span data-bind="text: title"></span></span> <span
                    class="beat-span">(<span data-bind="text: count">0</span> Beats)</span>
            </div>
        </div>
    </div>

</div>
